.page h1 {
    font-family: 'Hind', sans-serif;
    color: white;
    font-size: 3em;
    text-align: center;
}

.page{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}


.info p{
    overflow-y: scroll;
    width: 90%;
    height: 20em;
    color: white;
    margin-top: 4em;
}

.info h2{
    color: #133353;
    font-family: 'Hind', sans-serif;
}

.info iframe{
    border: 1px solid black;
    border-radius: 5px;
    width: 50em;
    height: 30em;
}

.info p::-webkit-scrollbar {
    background-color:white;
    border-radius: 5px;
    width: 3px;
   
  }
  
  .info p::-webkit-scrollbar-thumb {
    background-color: #133353;
      border-radius: 5px;
  }

  .tareas h2{
color: white;
  }

  .tareas h3{
    color: #133353;
  }
  .tareas div{
    border: 1px solid white;
  }

  .card-tareas h5{
color: #921124
}
.card-tareas h4{
    color:white
    }
    

.card-tareas div{
    border: 1px solid white;
}

.link{
    color: wheat;
    text-decoration: none;
}
.button{
    border: 1px solid #133353;
    width: max-content;
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em 0 0 auto;
    background: #133353;
}

